main {
    color: white;
    font-family: "Courier New", monospace;
}

.background {
    background-image: url('TEST.jpeg');
    width: 100%;
    height: 100vh;
    color: white;
    padding: 10px 20px; 
    font-size: 3vh; 
    text-align: left;
    font-family: "Courier New", monospace;
    background-size: cover; /* or "contain" depending on what you want */
    background-position: center center;
    background-repeat: no-repeat;
    background-color: transparent;
    align-items: flex-end;
}

p.text {
    background-color: #2F866C;
    font-size: 3vw;
}

.overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
}

p.title {
    color: white;
    display: flex;
    justify-content: center;
    padding: 4vh;
    font-size: 3vw; 
}

.aboutme-img {
    max-width: 40vw;
    max-height: 70vh;
    display: block;
    margin-right: 5vw;
    padding-left: 5vw;
}

div.aboutme {
    background-color: #2F866C;
    height: 150vh;
}

div.aboutme-content {
    display: flex;
    justify-content: flex-start; /* Align items to the start (left) horizontally */
    align-items: center;
    padding: 20px; /* Adjust as needed */
}

div.aboutme-wrapper {
    text-align: left;
    color: #fff;
    font-size: 1.75vw;;
}

div.aboutme-intro {
    font-size: 3vw;
    font-family: "Papyrus", Fantasy;
    padding-bottom: 1.5vw;
}

div.card {
    display: inline-block;
    background-color: #2F866C;
    justify-content: center;
    height: 70vh;
    align-items: center;
}

.card-wrapper {
    display: flex;
    justify-content: center;
    width: 100vw;
}

.skills {
    height: 100vh;
    background-color: #fee2c2;
    justify-content: center;
    align-items: center;
}

.projects{
    width: 100vw;
    height: 100vh;
}
  
.card {
    display: flex;
    width: 26vw;
    height: 30vh;
    border-radius: 10px;
    box-shadow: -1rem 0 3rem #000;
    transition: 0.4s ease-out;
    align-items: center;
}


.card:not(:first-child) {
    margin-left: -50px;
}

.card:hover {
    transform: translateY(-20px);
    transition: 0.4s ease-out;
    width: 40vw;
}

.card:hover ~ .card {
    position: relative;
    left: 50px;
    transition: 0.4s ease-out;
}

h3.title {
    color: white;
    font-weight: 300;
    position: absolute;
    left: 20px;
    top: 15px;
}

.bar {
    position: absolute;
    top: 100px;
    left: 20px;
    height: 5px;
    width: 150px;
}

.emptybar {
    background-color: #2e3033;
    width: 100%;
    height: 100%;
}

.filledbar {
    position: absolute;
    top: 0px;
    z-index: 3;
    width: 0px;
    height: 100%;
    background: rgb(0,154,217);
    background: linear-gradient(90deg, rgba(0,154,217,1) 0%, rgba(217,147,0,1) 65%, rgba(255,186,0,1) 100%);
    transition: 0.6s ease-out;
}

.card:hover .filledbar {
    width: 120px;
    transition: 0.4s ease-out;
}

.circle {
    position: absolute;
    top: 150px;
    left: calc(50% - 60px);
}

.stroke {
    stroke: white;
    stroke-dasharray: 360;
    stroke-dashoffset: 360;
    transition: 0.6s ease-out;
}

svg {
    fill: #2F866C; 
    stroke-width: 2px;
    /* background-image: url(icons8-coding-50.png); */
}

.card:hover .stroke {
    stroke-dashoffset: 100;
    transition: 0.6s ease-out;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fee2c2;
}

.card-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Adjust as needed */
}

div.content {
    color:white;
    padding-top: 32vh;
    padding-left: 2vw;
    padding-right: 2vw;
}



