main {
    color: white;
    font-family: "Courier New", monospace;
}

.background {
    background-image: url('TEST.jpeg');
    width: 100%;
    height: 100vh;
    color: white;
    padding: 10px 20px; 
    font-size: 3vh; 
    text-align: left;
    font-family: "Courier New", monospace;
    background-size: cover; /* or "contain" depending on what you want */
    background-position: center center;
    background-repeat: no-repeat;
    background-color: transparent;
}

p.text {
    background-color: #2F866C;
    display: inline;
    font-size: 3vw; 
    text-align: left;
}

.overlay {
    display: flex;
    justify-content: flex-start; /* Center to the left */
    align-items: center;
    height: 100vh;
    border: 0;
}

p.title {
    color: white;
    display: flex;
    justify-content: center;
    padding: 4vh;
    font-size: 3vw; 
}

img.aboutme {
    max-width: 40vw;
    max-height: 70vh;
    display: block;
    margin-right: 5vw;
    padding-left: 5vw;
}

div.aboutme {
    background-color: #2F866C;
    height: 100vh;
}

div.aboutme-content {
    display: flex;
    justify-content: flex-start; /* Align items to the start (left) horizontally */
    align-items: center;
    padding: 20px; /* Adjust as needed */
}

div.aboutme-wrapper {
    width: 60%;
    text-align: left;
    color: #fff;
    font-size: 1.75vw;;
}

div.card {
    display: inline-block;
    background-color: #2F866C;
    justify-content: center;
    height: 70vh;
}

.card-wrapper {
    display: flex;
    justify-content: center;
    width: 100vw;
}

.skills-cards {
    width: 100vw;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.skills {
    height: 100vh;
}

.projects{
    width: 100vw;
    height: 100vh;
}



